#bodyCourseInfo{
    -fx-background-color: rgba(	209, 242, 255, 1); /* Semi-transparent white background */
    -fx-border-color: rgb(30,144,255);
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
