#mainScene {
    -fx-background-image: url("file:///C:/Users/Josh/IdeaProjects/JavaFXDemo/src/main/resources/images/registerbg.png");
    -fx-background-size: auto; /* Cover the entire area */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent image from repeating */
}
#registerLogoPane{
    -fx-background-image: url("file:///C:/Users/Josh/IdeaProjects/JavaFXDemo/src/main/resources/images/logowhitenotext.png");
    -fx-background-size: 100% 100%; /* Cover the entire area */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent image from repeating */
}
#formContainerRegisterOne{
    -fx-background-color: rgba(255, 255, 255, 0.54); /* Semi-transparent white background */
    -fx-border-color: rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    -fx-border-width: 1px; /* Border width */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.0, 0.0, 4.0);
}


#proceedbtn{
    -fx-background-color: #03cfc9
}
.clicked-button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
}
#mainScene {
    -fx-background-image: url("file:///C:\Users\Josh\IdeaProjects\OOP-Capstone\src\main\resources\images\registerbg.png");
    -fx-background-size: auto; /* Cover the entire area */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent image from repeating */
}
#registerLogoPane{
    -fx-background-image: url("file:///C:\Users\Josh\IdeaProjects\OOP-Capstone\src\main\resources\images\logowhitenotext.png");
    -fx-background-size: 100% 100%; /* Cover the entire area */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent image from repeating */
}
.button{
    -fx-background-color: #1E90FF;
}
.otptextfield{
    -fx-border-color: red;
    -fx-border-width: 3px;
}

#formContainer {
    -fx-background-color: rgba(255, 255, 255, 0.54); /* Semi-transparent white background */
    -fx-border-color: rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    -fx-border-width: 1px; /* Border width */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.0, 0.0, 4.0);
}

#proceedbtn{
    -fx-background-color: #1E90FF;
}


#sidePane{
        -fx-background-color: skyblue; /* Set background to sky blue */
         -fx-padding: 10; /* Add somse padding inside the pane */
         -fx-border-color: lightgray; /* Optional: Add a border for better visibility */
         -fx-border-width: 2; /* Border thickness */
         -fx-border-radius: 5; /* Optional: Rounded corners */
         -fx-background-radius: 5; /* Matches the border radius */

}

#teacherBox{
          -fx-background-color: rgba(17,119,254,255);
       -fx-border-color: lightgray; /* Optional: Add a border for better visibility */
                -fx-border-width: 2; /* Border thickness */
                -fx-border-radius: 20; /* Optional: Rounded corners */
                -fx-background-radius: 20; /* Matches the border radius */
}
#studentBox{
           -fx-background-color: rgba(17,119,254,255);
       -fx-border-color: lightgray; /* Optional: Add a border for better visibility */
                -fx-border-width: 2; /* Border thickness */
                -fx-border-radius: 20; /* Optional: Rounded corners */
                -fx-background-radius: 20; /* Matches the border radius */

}

#otherBox{
       -fx-background-color: rgba(17,119,254,255);
       -fx-border-color: lightgray; /* Optional: Add a border for better visibility */
                -fx-border-width: 2; /* Border thickness */
                -fx-border-radius: 20; /* Optional: Rounded corners */
                -fx-background-radius: 20; /* Matches the border radius */

}

#upp{
     -fx-background-color: rgba(17,119,254,255);

                    -fx-border-width: 2; /* Border thickness */


}

#dashboardBtn{
    -fx-background-color: rgba(0,119,254,0.5);
}
#studentBtn{
    -fx-background-color: rgba(17,119,254,0.5);
}
#teacherBtn{
    -fx-background-color: rgba(17,119,254,0.5);
}

#bodyBox{
    -fx-background-color: rgb(17,119,254);
    -fx-border-color: lightgray; /* Optional: Add a border for better visibility */
                    -fx-border-width: 2; /* Border thickness */
                    -fx-border-radius: 20; /* Optional: Rounded corners */
                    -fx-background-radius: 20; /* Matches the border radius */
}

#labelTeacher{
     -fx-background-color: rgba(3,44,88,255);

     -fx-padding: 5;
}








